<ActionBar class="action-bar top-bar">

    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>

    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Invite Visitor"></Label>
</ActionBar>

<DockLayout class="container" stretchLastChild="true">
    <AbsoluteLayout class="top-dock" backgroundColor="yellow" dock="top">
        <GridLayout class="inner-container" columns="*,2*" rows="*" >
            <AbsoluteLayout class="image" row="0" col="0">
                <Image src="~/img/invite_visitors.png"></Image>
            </AbsoluteLayout>
            <AbsoluteLayout class="content" row="0" col="1">
               <label text="Name: {{ Name }}"></label>
               <label text="Phone No: {{ tel }}"></label>
            </AbsoluteLayout>
        </GridLayout>
    </AbsoluteLayout>

    <AbsoluteLayout class="middle-dock"  dock="top">
        <button text="INVITE VISITORS" (tap)="addVisitor()" class="btn btn-primary full-width"></button>
    </AbsoluteLayout>

    <ListView [items]="contact" (itemTap)="onItemTap($event)" class="list-group" dock="bottom">
        <ng-template let-contact="item" let-i="index" let-odd="odd" let-even="even">
            <!-- The item template can only have a single root view container (e.g. GridLayout, StackLayout, etc.)-->
            <StackLayout orientation="horizontal" class="list-group-item">
                <Label text="Contact: " textWrap="true"></Label>
                <Label [text]="contact.name"></Label>
            </StackLayout>
        </ng-template>
    </ListView>

</DockLayout>
